- content_for(:settings) do
  = link_to('Settings', '/settings')

- @feeds.find_all{ |f| !f.empty? }.each do |feed|
  .comic-wrap{'data-id' => feed.id, :id => "feed_#{feed.id}"}
    = render 'strip', :feed => feed, :item => feed.current

- if @feeds.empty?
  %h1 Oh no!
  You do not have any feeds selected. Go to
  = link_to('Settings', '/settings')
  to select feeds to unlock your goose-powered awesomeness.

:javascript
  $(function() {
    $(".next").click(function(e) {
      App.util.get_comic('next', this);
      e.preventDefault();
    });

    $(".previous").click(function(e) {
      App.util.get_comic('previous', this);
      e.preventDefault();
    });

    App.util.setup_nav();
  });