#comics_display
  .comic_container.centering_div
    %span.comic_wrapper
      %img{:alt => "comic", :src => "http://assets.amuniversal.com/d82f3140c239012fddbb001dd8b71c47"}
        %br/
        %span.comic_source
          %a{:href => "http://www.gocomics.com/calvinandhobbes/2012/10/13", :target => "_new_window"} source
        %span.comic_date
          13.October.2012

  .comic_container.centering_div
    %span.comic_wrapper
      %img{:alt => "comic", :src => "http://www.marriedtothesea.com/101312/gingersteak.gif"}
        %br/
        %span.comic_source
          %a{:href => "http://www.marriedtothesea.com/archives/2012/Oct/", :target => "_new_window"} source
        %span.comic_date