$title-font: 'Tillium Web';
$background-page-color: #eae6e0;

html {
  color: #320;
  background-color: $background-page-color;
  font-family: "Lucida Grande", "Helvetica", "Sans-Serif";
  font-size: 12px;
}

body {
  padding: 1.5em 3em;
  max-width: 1024px;
  margin-top: 35px;
  background: url(feather.png) 5px 5px no-repeat;
}

.page .body {
  min-height: 600px;
}

h1 {
  font-size: 1.5em;
}

h2 {
  font-size: 1.3em;
}

a {
  color: #A52A2A;
}

.date_control {
  float: right;

  #header_date {
    display: inline;
  }
}

#page_container {
  width: 960px;
}

.centering_div {
  margin-left: auto;
  margin-right: auto;
  width: 90%;
}

.header {
  position: relative;
  border-bottom: 1px solid #ccc;
  margin-bottom: 20px;
}

.settings {
  position: absolute;
  text-align: right;
  right: 0;
  top: 0;
}

.header h1 {
  padding-left: 15px;
  font: 28px $title-font, sans-serif;
}

.header .note {
  padding-left: 15px;
  color: #aaa;
  font-size: 12px;
}

#page_header div.header_controls {
  font-size: 24px;
  position: relative;
  text-align: right;
  width: 50%;
  display: inline-block;
  height: 38px;
}

div.header_controls div.date {
  display: inline-block;
  bottom: -12px;
}

.arrow_left {
  width: 0px;
  height: 0px;
  border-style: solid;
  border-width: 8px 13.9px 8px 0;
  border-color: transparent #a52a2a transparent transparent;
  display: inline-block;
}

.arrow_right {
  width: 0px;
  height: 0px;
  border-style: solid;
  border-width: 8px 0 8px 13.9px;
  border-color: transparent transparent transparent #a52a2a;
}

.comic-wrap {
  margin-top: 20px;
}

.comic {
  padding: 10px;
  padding-top: 0;
  display: inline-block;
  text-align: left;
  background-color: white;
  box-shadow: 0 2px 4px 2px #666;

  border: 1px solid #ccc;
}

.comic {
  .meta {
    position: relative;
    padding: 5px 10px 5px 10px;
    margin-left: -10px;
    margin-right: -10px;
    background: #efede3;
    margin-bottom: 10px;
    border-bottom: 1px solid #afada3;

    .strip_title{
      a, a:link, a:hover, a:active, a:visited {
        text-decoration: none;
        color: black;
      }
    }
  }

  .title {
    font-size: 14px;
    display: inline-block;
    height: 16px;
    text-align: left;
  }

  .strip_title {
    display: inline-block;
    position: absolute;
    left: 45%;
    top: 0.5em;
  }

  .content.junkbuster {
    p, table {
      display: none;
    }
  }

  .content .feedflare {
    display: none;
  }

  .content{
    margin: 0 auto;
    padding: 0 30px 0 30px;
    position: relative;

    a, a:link, a:hover, a:active, a:visited {
      text-decoration: none;
    }

    .nav {
      display: block;
      position: absolute;
      top: 0px;
      left: 0px;
      height: 100%;
      width: 100%;
    }

    .nav a {
      display: block;
    }

    .left {
      position: absolute;
      left: 0;
      top: 0;
      height: 100%;
      width: 25px;
      opacity: 0.2;
    }

    .right {
      position: absolute;
      right: 0;
      top: 0;
      height: 100%;
      width: 25px;
      opacity: 0.2;
    }

    .left .arrow {
      position: absolute;
      top: 40%;
      height: 0px;
      border-style: solid;
      border-width: 30px 10.9px 30px 0;
      border-color: transparent black;
    }

    .right .arrow {
      position: absolute;
      top: 40%;
      right: -1px;
      width: 0;
      height: 0px;
      border-style: solid;
      border-width: 30px 0 30px 10.9px;
      border-color: transparent black;
    }
  }
}

.date {
  float: right;
  height: 16px;
  text-align: right;
}

.footer {
  color: #aaa;

  margin-top: 20px;
  border-top: 1px solid;
  padding-top: 1em;
  font-size: 12px;
  text-align: right;
}

#page_footer div.date {
  text-align: right;
  width: 50%;
  display: inline-block;
  height: 30px;
}

.setting-editor {
  padding-left: 20px;

  h1 {
    border-bottom: 1px solid #ccc;
    margin-bottom: 0.5em;
  }

  p {
    margin-bottom: 1em;
  }

  .feeds {
    width: 40em;

    .heading {
      position: relative;
      height: 3em;

      h2 {
        line-height: 2em;
      }

      .controls {
        position: absolute;
        right: 0;
        top: 0;

        a {
          margin-right: 1em;
          text-decoration: none;
        }

        a:hover {
          text-decoration: underline;
        }
      }
    }
  }

  .feed {
    line-height: 2em;
    position: relative;
    background: #fff;
    padding: 8px 20px;
  }

  .feed label {
    line-height: 2em;
  }

  .feed input {
    margin-right: 1em;
  }

  .feeds .feed:nth-child(even) {
    background: #faf6f0;
  }
  
  .feed .link {
    float: right;
  }

  .submit {
    border: 1px solid #9a9;
    border-radius: 1em;
    background: #fafff5;
    font-weight: bold;
    padding: 4px 12px;
    font-size: 14px;
  }

  .status {
    margin-top: 1em;
    display: inline-block;
    color: #444;
  }
}