$title-font: 'Tillium Web';
$background-page-color: #eae6e0;

html {
  color: #320;
  background-color: $background-page-color;
  font-family: "Lucida Grande", "Helvetica", "Sans-Serif";
  font-size: 12px;
}

body {
  padding: 1.5em 3em;
  max-width: 1024px;
  background: url(feather.png) 5px 5px no-repeat;
}

.page {
  min-height: 600px;
}

h1 {
  font-size: 1.5em;
}

h2 {
  font-size: 1.3em;
}

a {
  color: #A52A2A;
}

.date_control {
  float: right;

  #header_date {
    display: inline;
  }
}

#page_container {
  width: 960px;
}

.centering_div {
  margin-left: auto;
  margin-right: auto;
  width: 90%;
}

.header {
  position: relative;
  border-bottom: 1px solid #ccc;
  margin-bottom: 20px;
}

.settings {
  position: absolute;
  text-align: right;
  right: 0;
  top: 0;
}

.header h1 {
  padding-left: 15px;
  font: 28px $title-font, sans-serif;
}

.header .note {
  padding-left: 15px;
  color: #aaa;
  font-size: 12px;
}

#page_header div.header_controls {
  font-size: 24px;
  position: relative;
  text-align: right;
  width: 50%;
  display: inline-block;
  height: 38px;
}

div.header_controls div.date {
  display: inline-block;
  bottom: -12px;
}

.arrow_left {
  width: 0px;
  height: 0px;
  border-style: solid;
  border-width: 8px 13.9px 8px 0;
  border-color: transparent #a52a2a transparent transparent;
  display: inline-block;
}

.arrow_right {
  width: 0px;
  height: 0px;
  border-style: solid;
  border-width: 8px 0 8px 13.9px;
  border-color: transparent transparent transparent #a52a2a;
}

.comic_container {
  text-align: center;
  margin-top: 20px;
}

.comic {
  padding: 10px;
  padding-top: 0;
  margin: 10px;
  display: inline-block;
  text-align: left;
  background-color: white;
  box-shadow: 0 2px 4px 2px #666;

  border: 1px solid #ccc;
}

.comic {
  .meta {
    padding: 5px 10px 5px 10px;
    margin-left: -10px;
    margin-right: -10px;
    background: #efede3;
    margin-bottom: 10px;
    border-bottom: 1px solid #afada3;
  }

  .meta:after {
    content: ".";
    height: 0;
    visibility: hidden;
    clear: both;
  }

  .title {
    float: left;
    font-size: 14px;
    width: 50%;
    display: inline-block;
    height: 16px;
    text-align: left;
  }

  .content p {
    height: 0;
  }

  .content .feedflare {
    display: none;
  }
}
  
.date {
  font-size: 14px;
  float: right;
  height: 16px;
  text-align: right;
}

.footer {
  margin-top: 20px;
  border-top: 1px solid;
  padding-top: 1em;
  font-size: 12px;
  text-align: right;
}

#page_footer div.date {
  text-align: right;
  width: 50%;
  display: inline-block;
  height: 30px;
}
