<!DOCTYPE html>
<html>
<head>
  <title>Goose Feathers</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <link href='http://fonts.googleapis.com/css?family=Titillium+Web' rel='stylesheet' type='text/css'>
</head>
<body>
  <div id="page_container" class="centering_div">

    <div id="page_header" class="centering_div">
      <div class="title">Goose Feathers</div>
    </div>

  <%= yield %>

    <div id="page_footer" class="centering_div">
      <div class="title">A production of Blue Goose</div>
    </div>
  </div>
</body>
</html>
